.navbar {
  position: sticky;
  top:0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 80px;
  font-size: 30px;
  padding: 10px;
  gap: 20px;
  background-color: var(--color-navbar);
}

.navbar__logo{
  flex:1;
}

.navbar__menu{
  flex:2;
}

.navbar__list {
  flex:3;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}

.navbar__button {
  font-size: 30px;
}