.todo {
    padding: 40px;
    height: 80vh;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.todo__header > h1 {
    color: gray;
    font-size: 80px;
}
.todo__header > span {
    color : gray;
    font-weight: bold;
}

.todo__input > input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font: 80px;
}